<!DOCTYPE html>
<html>
<head>
    <title>ADD Server</title>
</head>
<body>
    <h1>ADD Server</h1>
    <form method="POST" action="">
        <label for="hostname">Hostname:</label>
        <input type="text" id="hostname" name="hostname"><br><br>
        <label for="auth_key">Auth Key:</label>
        <input type="text" id="auth_key" name="auth_key"><br><br>
        <label for="group">Group:</label>
        <input type="text" id="group" name="group"><br><br>
        <label for="subgroup">Subgrroup:</label>
        <input type="text" id="subgroup" name="subgroup"><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
